/* Estilos Generales */
:root {
  --dark: #2D2D2D;
  --grey-dark: #757677;
  --grey: #BCBEBE;
  --grey-light: #EBECEC;
  --greay-extra-light: #F0F1F1;
  --background: #F0F2FA;
  --white: #FFFFFF;
  --primary-dark: #18566F;
  --primary: #00809F;
  --primary-light:#4DADBC;
  --primary-extra-light: #E6EEEF;
  --info: #1A58DD;
  --info-dark: #041E49;
  --info-light: #C2E7FF;
  --success: #06C170;
  --success-dark: #094B28;
  --success-light: #C1F8CF;
  --warning: #FFB700;
  --warning-dark: #81124B;
  --warning-light: #FFD89C;
  --danger: #DF2020;
  --danger-dark: #A20F1D;
  --danger-light: #F8D7DA;
  --accent: #8982F6;
  --accent-dark: #5544C2;
  --accent-light: #E1E1FF;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

main {
  background-color: var(--background);
  min-height: calc(100vh - 82px);
}

hr {
  background-color: var(--primary-dark);
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Colors */
.success-color {
  color: var(--success);
}

.disabled-color {
  color: var(--grey);
}
/* End colors */

/* Font weight */

.fw-sb {
  font-weight: 500;
}

.fw-b {
  font-weight: 700;
}

/*End Font weight */



/* bg colors */

.bg-white {
  background-color: var(--white) !important;
}
/* end bg colors */

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}


.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

.marginTop-0-5 {
  margin-top: .5rem !important;
}

.marginTop-1 {
  margin-top: 1rem !important;
}

.marginTop-1-5 {
  margin-top: 1.5rem !important;
}

.marginTop-2 {
  margin-top: 2rem !important;
}

.marginTop-2-5 {
  margin-top: 2.5rem !important;
}

.marginTop-3 {
  margin-top: 3rem !important;
}

.marginTop-3-5 {
  margin-top: 3.5rem !important;
}

.marginTop-4 {
  margin-top: 4rem !important;
}

.marginTop-4-5 {
  margin-top: 4.5rem;
}

.marginRight-0-5 {
  margin-right: .5rem !important;
}

.marginRight-1 {
  margin-right: 1rem !important;
}

/* End Margins */

/* Paddings */
.paddingTop-1 {
  padding-top: 1rem;
}

.paddingTop-2 {
  padding-top: 2rem;
}

.paddingTop-3 {
  padding-top: 3rem;
}
/* End Paddings */

/* List */
.list-group .list-group-item {
  color: var(--primary-dark);
}

.list-group-item {
  border: none;
}
/* End list */

/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn-large {
  padding: .75rem 3rem;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.btn-icon span {
  font-size: 1.2rem
}

.btn-icon-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-sidebar-mobile {
  /* background-color: tomato; */
  height: 40px;
  width: 40px;
  padding: 0 !important;
}

.btn-sidebar-mobile span {
  /* background-color: blue; */
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-img {
  display: flex;
  align-items: center;
}

.btn-img-left img {
  /* background-color: yellow; */
  display: block;
  height: 2rem;
}

.primary-button {
  background-color: var(--primary);
  color: var(--grey-light);
}

.primary-button:hover {
  background-color: var(--primary-dark);
  color: var(--grey-light);
}

.primary-button:focus {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary-dark);
  box-shadow: 0 0 0 0.25rem rgba(16, 158, 181, 0.5);
}

.primary-button.disabled, .primary-button:disabled {
  background-color: var(--background);
  color: var(--grey-dark);
  opacity: 1;
}

.danger-button {
  background-color: var(--danger);
  color: var(--grey-light);
}

.danger-button:hover {
  background-color: var(--danger-dark);
  color: var(--grey-light);
}

.danger-button:focus {
  background-color: var(--danger);
  color: var(--white);
  border-color: var(--danger-dark);
  box-shadow: 0 0 0 0.25rem rgba(16, 158, 181, 0.5);
}

.danger-button.disabled, .danger-button:disabled {
  background-color: var(--background);
  color: var(--grey-dark);
  opacity: 1;
}

.ghost-button-danger {
  background-color: transparent;
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-button-danger:hover {
  background-color: var(--danger-light);
  color: var(--danger-dark);
}

.ghost-button-danger:focus {
  background-color: var(--danger-light);
  color: var(--danger-dark);
  border-color: var(--danger);
  box-shadow: 0 0 0 0.25rem var(--danger-light);
}

.ghost-button-danger.disabled, .ghost-button-danger:disabled {
  background-color: var(--background);
  color: var(--grey-dark);
  opacity: 1;
}

.ghost-button {
  background-color: transparent;
  color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-button:hover {
  background-color: var(--primary-extra-light);
  color: var(--primary-dark);
}

.ghost-button:focus {
  background-color: var(--primary-extra-light);
  color: var(--primary-dark);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.25rem var(--primary-extra-light);
}

.ghost-button.disabled, .ghost-button:disabled {
  background-color: var(--background);
  color: var(--grey-dark);
  opacity: 1;
}

.small-button {
  font-size: .875rem;
  padding: .25rem .5rem
}

.btn-circle {
  border-radius: 100px;
  padding: .75rem;
}

.link-button {
  /* background-color: salmon; */
  color: var(--primary);
  padding: 0.5rem  0;
  font-weight: 600;
}

.link-button:hover {
  color: var(--primary-light);
}

.link-button:focus {
  color: var(--primary-dark);
  text-decoration: underline;
}

.link-button.disabled, .link-button:disabled {
  color: var(--grey);
  text-decoration: underline;
}

.link-button-danger {
  /* background-color: salmon; */
  color: var(--danger);
  padding: 0.5rem  0;
  text-decoration: underline;
  font-weight: 600;
}

.link-button-danger:hover {
  color: var(--danger);
  text-decoration: underline;
}

.link-button-danger:focus {
  color: var(--danger);
  text-decoration: underline;
}

.link-button-danger.disabled, .link-button-danger:disabled {
  color: var(--grey);
  text-decoration: underline;
}

.light-button {
  color: var(--dark);
}

.light-button:hover {
  color: var(--dark);
  background-color: var(--grey-light);
}

.light-button:focus, .light-button.focus {
  color: var(--dark);
  background-color: var(--grey-light);
  border-color: var(--grey-light);
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.light-button.disabled, .light-button:disabled {
  background-color: var(--background);
  color: var(--white);
  opacity: 1;
}

.outline-button {
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.outline-button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--primary-extra-light);
}

.outline-button.disabled, .outline-button:disabled {
  border: 1px solid var(--grey);
  background-color: var(--background);
  color: var(--grey);
  opacity: 1;
}

.btn-icon {
  display: flex;
  align-items: center;
  gap:.5rem;
}
/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

.form-check-input {
  /* background-color: yellow; */
  margin-top: 2px;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-check-input:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(17, 67, 87, 0.25);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrap-form-tooltip {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

.wrap-form-tooltip .form-check {
  margin-bottom: 0;
}

/* FORMS */
.form-row {
  /* background-color: pink; */
  display: flex;
  align-items: flex-end;
}

.form-row-btn {
  /* background-color: lightgreen; */
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  /* margin-bottom: 1rem; */
}

.form-row-top {
  align-items: flex-start;
}

.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
  opacity: .7;
}
/* END FORMS */

/* Fin Estilos Generales */

/* main -------------------- */

.main-login {
  /* background-color: palegreen; */
  min-height: 100vh;
}

/* img login */

.wrap-img-login {
  /* background-color: var(--info); */
  background-image: url(../img/bg/bg-login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Fin img login */

/* form-login */

.wrap-form-login {
  /* background-color: var(--info); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-login {
  background-color: var(--white);
  min-width: 480px;
  padding: 3.5rem;
  border-radius: .25rem;
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
}

.form-title {
  /* background-color: lavender; */
  text-align: center;
}

.field-icon {
  background-color: var(--white);
  cursor: pointer;
  float: right;
  margin-left: -2rem;
  margin-top: -2.2rem;
  margin-right: 1rem;
  position: relative;
  z-index: 2;
  color: var(--primary-dark);
}

.form-login .logo {
  /* background-color: lavender; */
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.form-login .logo img {
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.form-label {
  color: var(--primary-dark);
  font-weight: 500;
}

.form-control, .form-select {
  display: block;
  width: 100%;
  padding: .875rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover, .form-select:hover {
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
  background-color: var(--white);
}

.form-control:focus, .form-select:focus {
  box-shadow: inset 0 0 0 2px var(--primary);
  outline: 0;
  color: var(--primary-dark);
}

/* Selec2 Styles */
.select2-container--bootstrap-5 .select2-selection {
  width: 100%;
  /* min-height: calc(1.5em + 0.75rem + 2px); */
  height: 50px;
  padding: .875rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


/* End Select2 styles */

.search-input {
  position: relative;
}

.search-input .form-control::placeholder {
  color: var(--primary);
}

.search-input .btn {
  /* background-color: lavender; */
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--primary);
}
/* fin form login */

.text-help {
  /* background-color: pink; */
  color: var(--danger);
  display: flex;
  align-items: center;
  padding-top: .25rem;
  padding-left: .25rem;
  position: absolute;
  display: none;
}

.text-help .material-icons {
  margin-right: .5rem;
  font-size: 1rem;
}

.danger-input .form-control, .danger-input .form-select {
  box-shadow: inset 0 0 0 2px var(--danger);
  outline: 0;
  color: var(--danger);
}

.content-case-controls {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  /* background-color: var(--white); */
  color: var(--primary-dark);
}

.table > :not(:first-child) {
  border-top: none;
}

.table thead tr {
  border-bottom: 2px solid var(--primary-dark);
}

.table thead tr th {
  background-color: var(--primary-extra-light);
  vertical-align: middle;
  padding: 1rem;
  color: var(--primary-dark);
}

.table tbody th, .table tbody td {
  background-color: var(--white);
  vertical-align: middle;
  padding: .5rem 1rem;
}

.table tfoot tr {
  border-top: 2px solid var(--primary-dark);
}

.table tfoot tr td {
  /* background-color: pink; */
  vertical-align: middle;
  padding: .5rem 1rem;
  font-weight: 600;
}

.content-action-btns {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.input-table-number {
  max-width: 6rem;
  padding: .5rem;
}

.input-table-text {
  padding: .5rem;
}

.col-large-text {
  min-width: 200px;
  max-width: 300px;
  /* background-color: #06C170; */
}

.tag {
  /*background-color: lavender;
  */font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .25rem .5rem;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  text-wrap: nowrap;
}

.tag-info {
  background-color: var(--info-light);
  color: var(--info-dark);
}

.tag-inactive {
  background-color: var(--grey);
  color: var(--dark);
}

.tag-success {
  background-color: var(--success-light);
  color: var(--success-dark);
}

.tag-warning {
  background-color: var(--warning-light);
  color: var(--warning-dark);
}

.tag-danger {
  background-color: var(--danger-light);
  color: var(--danger-dark);
}

.tag-accent {
  background-color: var(--accent-light);
  color: var(--accent-dark);
}


/* fin Main */

/* Modal Contraseña olvidada */
  .modal-dialog {
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

  .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--primary-dark);
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
  }
  .btn-close:hover {
    color: var(--primary-dark);
    text-decoration: none;
    opacity: 0.75;
  }
  .btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
  }

  .modal-header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
  }

  .modal-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
  }

  .modal-header, .modal-footer {
    border: none;
  }

  .modal-body {
    /* background-color: pink; */
    color: var(--primary-dark);
    padding-left: 1.5rem
  }
  .modal-subtitle {
    text-align: center;
    font-size: 1.5rem;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .modalInfo .iconModal {
    font-size: 2rem;
  }

  .modal .form-group {
    text-align: left;
  }

/* Fin modal contraseña olvidada */

/* modal arbitro elegido */
.card-lawyer-elected {
  background-color: var(--grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: left;
  border-radius: .25rem;
  margin-bottom: .5rem;
}

.card-lawyer-elected .name-lawyer {
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-lawyer-elected .user-img {
  min-width: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.card-lawyer-elected .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-especialidad {
  background-color: var(--grey-light);
  border-radius: .25rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-especialidad .material-icons {
  color: var(--success);
}

/* Fin modal arbitro elegido */

/* Modal Caso creado */
.content-icon-modal {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.content-icon-modal span {
  font-size: 2rem;
}

.card-case {
  background-color: var(--grey-light);
  border-radius: .25rem;
  padding: 1rem;
  text-align: center;
}

.name-case {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-case p {
  font-size: 1.5rem;
}

.card-sorteo {
  background-color: var(--grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
  border-radius: .5rem;
}

.card-sorteo span {
  color: var(--success);
}
/* Fin modal caso creado */

/* SISTEMA ALEATORIO */
/* Stepper tabs */
.nav-pills-stepper {
  /* background-color: pink; */
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  justify-content:center;
}

.nav-pills-stepper .nav-item {
  /* background-color: yellow; */
  width: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.nav-pills-stepper .nav-link {
  color: var(--grey);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}

.step-position {
  background-color: var(--grey);
  color: var(--white);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-pills-stepper .nav-link.active,
.nav-pills-stepper .show > .nav-link {
  color: var(--primary);
  background-color: var(--primary-extra-light);
  border-bottom: solid 2px var(--primary-dark);
}

.nav-pills-stepper .nav-link.active .step-position {
  background-color: var(--primary);
}

.nav-pills .nav-link {
  border-radius: 0;
  height: 100%;
}

.nav-pills-stepper .nav-link:hover .step-position {
  background-color: var(--primary-dark);
}

.nav-pills-stepper .nav-link:hover {
  color: var(--primary-dark);
}

/* estilo del paso completado */
.nav-pills-stepper .nav-link.completed .step-position {
  background-color: var(--primary-dark);
}

.nav-pills-stepper .nav-link.completed {
  color: var(--primary-dark);
}

/* fin del estilo del paso completado */

.tab-content-stepper {
  /* background-color: lavender; */
}

.title-stepper {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: center;
}

.footer-stepper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.footer-stepper .btn:first-child {
  margin-bottom: 1rem;
}

/* Fin stepper tab */



/* Grid cards abogados */
.grid-container-abogados {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-container-abogados .item {
  /* height: 14rem; */
}

.card-lawyer {
  background-color: var(--primary-light);
  border-radius: .25rem;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.card-lawyer.selected {
  background-color: var(--white);
}

.card-lawyer.selected .info-user .name-lawyer {
  color: var(--primary);
}

.card-lawyer .user-img {
  min-height: 2.5rem;
  min-width: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.card-lawyer .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-lawyer .info-user .name-lawyer {
  color: var(--grey-light);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-card-lawyer-selected {
  display: flex;
  align-items: center;
}

.card-lawyer-selected {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.content-card-lawyer-selected .info-user .name-lawyer {
  color: var(--primary);
}

.content-card-lawyer-selected .info-user .type-lawyer {
  color: var(--primary);
}

.card-lawyer-selected .btn {
  color: var(--primary);
  display: flex;
  align-items: center;
}
/* Fin grid cards abogados */

.content-chosen {
  border-top: 1px solid var(--primary);
  padding-top: 2rem;
}

.card-lawyer-skills {
  background-color: var(--white);
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
}

.wrap-info-lawyer {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-info-lawyer .user-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.wrap-info-lawyer .user-img img {
  height: 100%;
  width: 100%;
}

.card-lawyer-type .type {
  font-weight: 500;
}

.wrap-especialidades .card-especialidad {
  padding: 0;
  margin-bottom: 1rem;
}

.case-info {
  margin-bottom: 1.5rem;
}

.case-info .case-name {
  font-weight: 600;
}

.hgroup-title-stepper {
  margin-bottom: 3.5rem;
  text-align: center;
}

.hgroup-title-stepper .title-stepper {
  margin-bottom: .5rem;
}

.subtitle-stepper {
  font-size: 1.5rem;
  font-weight: 400;
}

.content-referee .referee-type {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}

/* FIN SISTEMA ALEATORIO */

/* DISCLAIMER */
.navbar-cear {
  background-color: var(--primary-light);
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar-cear .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img {
  height: 2.5rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.navbar-cear .btn-user {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 0;
  color: var(--white);
  font-weight: 400;
}

.navbar-cear .btn-user .material-icons {
  margin-left: 1rem;
}

.content-disclaimer {
  max-width: 640px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
/* END DISCLAIMER */

#content-resumen,
#fieldset-cuantia-determinada-ag,
#fieldset-cuantia-determinada-acp,
#fieldset-cuantia-determinada-Si,
#fieldset-demandante-sf-pj-acp,
#fieldset-enlaceArchivoPesado-se-ag,
#fieldset-enlaceArchivoPesado-se-acp,
#fieldset-enlaceArchivoPesado-se-si,
#fieldset-demandante-si-pj,
#fieldset-enlaceArchivoPesado-acp,
#fieldset-remitente-mpv-pj,
#modificarVotacionFile {
  display: none;
}

/* LOADER */

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(197, 218, 222, .9);
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1055;
  display: none;
}

.loader img {
  margin-bottom: 1rem;
  height: 8rem;
  width: 8rem;
}

.loader span {
  font-size: 1.5rem;
}
/* END LOADER */

/* ADMIN STYLES */

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* navbar admin */
.navbar-cear-menu {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  width: 250px;
  color: var(--white);
}

.navbar-cear-menu .btn {
  /* background-color: yellow; */
  margin-right: 1rem;
  color: var(--grey-light);
}

.navbar-cear-menu .btn:hover {
  background-color: var(--primary);
}

.navbar-cear-menu h2 {
  margin-bottom: 0;
}

/* end navbar menu */

/* Sidebar */
.sidebar-admin {
  background-color: var(--white);
  width: 250px;
  /* min-height: calc(100vh - 74px); */
  position: fixed;
  left: 0;
  transition: all 150ms linear;
}

.sidebar-admin.active {
  left: -250px;
}

.sidebar-admin-list .btn {
  /* background-color: lightgreen; */
  width: 100%;
  border-bottom: 1px solid var(--grey);
  text-align: left;
}

.sidebar-admin-list .btn:hover  {
  background-color: var(--primary-extra-light);
}

.sidebar-admin-list .btn:focus  {
  color: var(--primary-light);
}

.active-item-sidebar {
  color: var(--primary-light);
}

.sidebar-admin-list {
  list-style: none;
  padding-left: 0;
  height: calc(100vh - 74px);
  overflow-y: auto;
}

.sidebar-admin-list .item-sidebar {
  border-bottom: 1px solid var(--grey);
}

.item-sidebar .btn {
  color: var(--primary-dark);
  /* background-color: pink; */
  justify-content: space-between;
}

.sidebar-list-collapse {
  background-color: var(--white);
  list-style: none;
  padding-left: 0;
}

.item-collapse {
  /* background-color: pink; */
  text-decoration: none;
  display: block;
  padding: .75rem .75rem .75rem 2rem;
  color: var(--primary-dark);
}

.item-collapse:hover {
  background-color: var(--primary-extra-light);
  color: var(--primary-dark);
}

.item-collapse:focus {
  font-weight: 500;
  color: var(--primary-light);
}

/* End sidebar */

/* Main panel admin */
.admin-panel {
  /* background-color: lavender; */
  padding: 2rem;
  margin-top:  74px;
  min-height: calc(100vh - 74px);
}

.ml-panel {
  margin-left: 250px;
  transition: all 150ms linear;
}

.ml-panel-0 {
  margin-left: 0px;
  transition: all 150ms linear;
}

.panel {
  display: none;
  position: relative;
}

.active-panel {
  display: block;
}
/* end main panel admin */

/* content panels */
.wrap-header-panel {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.wrap-header-panel .header-panel {
  margin-bottom: 0;
}

.header-panel {
  /* background-color: pink; */
  margin-bottom: 1rem;
}

.header-panel .title-panel {
  /* background-color: yellow; */
  display: block;
  margin-bottom: .5rem;
}

.wrap-header-panel__title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-panel__title {
  font-weight: 600;
  margin-bottom: 0;
}




.wrap-controls-admin {
  /* background-color: yellowgreen; */
}

.content-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-label-admin {
  font-weight: 600;
  margin-bottom: .5rem;
}

.content-controls-main {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2rem;
}

.content-controls-search {
  /* background-color: #4DADBC; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrap-search-input {
  min-width: 300px;
}
/* end content panels */

/* Accordion */
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--primary-dark);
  font-weight: 600;
  text-align: left;
  background-color: var(--white);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--primary-dark);
  color: var(--primary-dark);
  outline: 0;
  background-color: var(--white);
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-dark);
  background-color: var(--primary-extra-light);
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../fonts/icons/chevron-down-outline.svg");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  content: "";
  background-image: url("../fonts/icons/chevron-down-outline.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.content-accordion-btn {
  /* background-color: pink; */
  display:flex;
  align-items: center;
  text-transform: uppercase;
  gap: 1rem;
}

.accordion-step {
  background-color: var(--primary-extra-light);
  display: block;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
}
/* End Accordion */

.content-btns-controls-panel {
  display: flex;
  justify-content: flex-end;
}

.content-btns-controls-panel .link-button {
  margin-right: 1.5rem;
}

  /* Upload images product */

.wrap-img-preview {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.imageWrapper {
  background-color: var(--white);
  border: 1px solid var(--grey);
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper img {
  width: 90%;
  border-radius: .25rem;
}

.content-info-upload-img {
 /* background-color: yellow; */
 margin-left: 1rem;
}

.label-upload-img {
  font-size: .75rem;
  margin-bottom: .5rem;
}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  text-align: left;
  padding-left: 0;
  background: transparent;
  display: flex;
  align-items: center;
}

.file-upload img {
  margin-right: .5rem;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.textHelp-fileInput {
  font-size: .75rem;
  padding-top: .5rem;
  color: var(--grey-dark);
}

  /* End upload images product */

/* Drag & Drop */
.dragDropContent {
  /* background-color: pink; */
  border-radius: 1rem;
}
.Form_control {
  position: relative;
}
.Form__label {
  cursor: pointer;
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px dashed var(--primary);
  flex-direction: column;
  align-items: center;
}
.Form__label i {
  font-size: 5rem;
  color: var(--primary);
  margin-bottom: 0.75rem;
}

.Form__label span {
  color: #ababab;
  text-align: center;
}

.Form__input {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

/* End Drag & Drop */

.content-cases-attended {
  padding-left: 0;
}

.tag-primary {
  background-color: var(--primary-light);
  color: var(--white);
  padding: .25rem .5rem;
  border-radius: .25rem;
  margin-left: 1.25rem;
}

.content-btn-right {
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
}

.fieldset-profesion {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.wrap-sorteo-estado {
  /* background-color: lavender; */
  margin-bottom: .5rem;
}

.header-sorteo-estado {
  display: flex;
  align-items: center;
  margin-bottom: .25rem;
}

.header-sorteo-estado span {
  margin-right: .5rem;
}

.body-sorteo-estado {
  margin-left: 2rem;
}

/* Accordion Collapse */

.accordionCollapse .accordion-button {
  /* background-color: lightblue !important; */
  padding: .25rem 0;
}

.accordionCollapse .accordion-body {
  padding: .5rem 0 0 0;
}

.accordionCollapse .accordion-item {
  border: none;
}

.accordion-item {
  background-color: var(--white);
  border: 1px solid var(--primary-dark);
}

.accordion-item:first-of-type {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

/* End Accordion Collapse */

.textCenter {
  /* background-color: pink; */
  display: block;
  text-align: center;
}
/* END ADMIN STYLES */

/* SIDEBAR OFF CANVAS */
.sidebar-mobile .offcanvas-header {
  background-color: var(--primary-light);
}

.sidebar-mobile {
  background-color: var(--white);
}

.btn-sidebar-mobile {
  display: none;
}

.offcanvas-body {
  /* background-color: pink; */
  height: calc(100% - 3.5rem);
  overflow-y: scroll;
  padding: 0;
}

.wrap-navbarMobile-brand__title {
  display: flex;
  align-items: center;
}

.wrap-navbarMobile-brand__title img {
  height: 2rem;
  margin-right: 1rem;
}

.wrap-navbarMobile-brand__title .offcanvas-title {
  font-weight: 500;
}

.sidebar-mobile .offcanvas-header {
  color: var(--white);
}
/* END SIDEBAR OFF CANVAS */

/* SOLICITUD FISICA */
#fieldset-demandante-sf-pj-ag,
#fieldset-demandante-se-pj-ag,
#fieldset-demandado-sf-pj-ag,
#fieldset-demandado-se-pj-ag,
#fieldset-datosDemandanteRepLegalSfPn-ag,
#fieldset-datosDemandanteRepLegalSePn-ag,
#fieldset-enlaceArchivoPesado-ag,
#fieldset-demandante-sf-pj-acp,
#fieldset-demandante-se-pj-acp,
#fieldset-demandado-sf-pj-acp,
#fieldset-demandado-se-pj-acp,
#fieldset-datosDemandanteRepLegalSfPn-acp,
#fieldset-datosDemandanteRepLegalSePn-acp,
#fieldset-enlaceArchivoPesado-acp,

 .comprobanteSe,
 .comprobanteSeSi {
  display: none;
}

#comprobanteDNIse, #comprobanteFacturaseSi {
  display: block;
}

.form-control::file-selector-button {
  padding: 1rem 1rem;
  margin: -1rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
  color: var(--primary);
  background-color: var(--white);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.wrap-buttons-contorls-select2 {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
}
/* END SOLICITUD FISICA */

/* SOLICITUD ELECTRÓNICA */
.wrap-btn-actions {
  /* background-color: lavender; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.wrap-designacion-arbitro-options {
  display: flex;
  align-items: center;
  gap: 3rem;
}
/* END SOLICITUD ELECTRÓNICA */

/* SOLICITUD INGRESADA */
.card-solicitud {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  overflow: hidden;
}

.card-solicitud__header {
  /* background-color: pink; */
  padding: 1rem 1.25rem;
  border-bottom: 1px solid var(--primary);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-solicitud__title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.card-solicitud-section:last-child {
  margin-bottom: 0;
}

.card-solicitud-section__header {
  /* background-color: #4DADBC; */
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  border-top: solid 1px var(--primary );
  border-bottom: solid 1px var(--primary);
  padding: 1rem;
}

.card-solicitud-section__title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.card-solicitud-section__body {
  padding: 1rem;
}

.taskbar-panel {
  background-color: var(--white);
  border-top: 1px solid var(--primary);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  z-index: 10;
}
/* END SOLICITUD INGRESADA */

/* COSTOS ARBITRALES */
.wrap-controls-cosotos-arbitrales {
  /* background-color: #FFB700; */
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/* END COSTOS ARBITRALES */

/* PMV */
/* Nueva solicitud */
.grid-cards-solicitud {
  /* background-color: pink; */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-solicitud-mpv {
  width: 18rem;
  border: none;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: var(--shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
}

.card-solicitud-text {
  padding: 1rem;
}

.card-solicitud-bottom {
  padding: 0 1rem 1rem 1rem;
}

.card-solicitud-bottom .btn {
  width: 100%;
}
/* End nueva solicitud */

/* Tipos de solicitud */
.card-solicitud-img {
  width: 100%;
  aspect-ratio: 4/3;
}
/* End tipo de solicitud */
/* END PMV */

/* HOME */
.heading-1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
}

.heading-4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary);
  line-height: normal;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.video {
  min-width: 560px;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bg-light {
  background-color: var(--background);
}

.border-radious-panel {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* END SECTION ABOUT */

/* SECTION SERVICES */
.service-card {
  background-color: var(--white);
  border: 3px solid var(--primary-light);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
  text-align: center;
}

.wrap-icon-card {
  background-color: var(--primary-light);
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.section-services__cards {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.wrap-cta {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
/* END SECTION SERVICES */

/* SECTION BRAND */
.section-brand__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.img-brand {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 30rem;
}

.section-brand__text {
  text-align: center;
}

.img-brand-logo {
  width: 8rem;
}

.slogan {
  font-size: 1.5rem;
}
/* END SECTION BRAND */
/* END HOME */

/* PAGINATION */
.wrap-navigation {
  /* background-color: lavender; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}

.page-link:focus {
  z-index: 3;
  color: var(--primary);
  background-color: #e9ecef;
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--primary);
}

.page-item.active .page-link {
  z-index: 3;
  color: var(--primary);
  background-color: #e9ecef;
  border-color: #e9ecef;
  box-shadow: inset 0 0 0 2px var(--primary);
}
/* END PAGINATION */

/* CASILLA ELECTRÓNICA */
.revised-notification th, .revised-notification td {
  background-color: var(--greay-extra-light) !important;
}
/* END CASILLA ELECTRÓNICA */

/* VOTACIONES */
.card-votacion {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: 0;
  width: 100%;
  margin-bottom: 1.5rem;
}

.card-votacion__header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--primary);
  padding: 1rem;
}

.card-votacion-header-left, .card-votacion-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-votacion__body {
  padding: 1rem;
}

/* Caja de comentarios */
.chat-box {
  background-color: var(--white);
  border: 1px solid var(--primary-dark);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  overflow: hidden;
}

.chat-box-header {
  background-color: var(--primary-extra-light);
  padding: 1rem;
}

.chat-box-title {
  margin-bottom: 0;
}

.chat-box-body {
  padding: 1rem;
}

.bubble {
  /* background-color: lavender; */
  margin-bottom: 1.5rem;
}

.bubble-msg-top {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.bubble-user {
  font-weight: 600;
  vertical-align: middle;
}

.bubble-date {
  font-weight: .75rem;
  vertical-align: middle;
}

.dropdwon-bubble .dropdown-toggle::after {
  display:none;
}

.dropdwon-bubble .dropdown-toggle {
  /* background-color: pink; */
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.dropdwon-bubble .dropdown-toggle span {
  margin-left: 0 !important;
  color: var(--primary-dark);
}

.dropdwon-bubble .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  min-width: auto;
}

.chat-box-footer {
  background-color: var(--greay-extra-light);
  display: flex;
  align-items: flex-end;
  gap: .5rem;
  padding: .75rem 1rem;
}

.input-chat {
  background-color: var(--white);
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  color: var(--primary-dark);
  border: 1px solid var(--grey);
  padding: .875rem 1rem;
}
.input-chat:focus {
  box-shadow: none !important;
  border: 1px solid red !important;
  background-color: var(--white);
}

.chat-btn {
  /*background-color: pink;*/ 
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chat-btn:hover {
  background-color: var(--primary-extra-light);
}

.chat-btn span {
  font-size: 2rem;
  color: var(--primary-dark);
}

.file-loaded {
  background-color: var(--background);
  padding: .75rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  width: 18.75rem;
  display: flex;
}

.file-loaded-icon {
  font-size: 2.5rem;
  color: var(--primary);
}

.file-content {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.file-left {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
}

.file-date {
  font-size: .75rem;
}

.file-name {
  /* color: tomato; */
  font-weight: 500;
  margin-top: -.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  width: 100%;
}

.file-rigth {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container-box {
  background-color: lavender;
  width: 100%;
}

.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  width: 50%;
}
/* End caja de comentarios */

.content-controls-votacion {
  /* background-color: pink; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.wrap-controls-votacion {
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* END VOTACIONES */



