/* Laptop */
@media (max-width: 1366px) {}

/* Fin laptop */
/* Tablet landscape */
@media (max-width: 1024px) {
  .form-login {
    min-width: 100%;
  }

  .header-panel {
    /* background-color: pink; */
    margin-bottom: 1rem;
    color: var(--n-01);
  }

  .wrap-controls-admin {
    /* background-color: lavender; */
    margin-bottom: 1.5rem !important;
  }

  /* SIDEBAR MOBILE */
  .sidebar-admin {
    display: none;
  }

  .btn-sidebar-desktop {
    display: none;
  }

  .btn-sidebar-mobile {
    display: block;
  }

  .admin-panel {
    /* background-color: SkyBlue; */
  }

  .ml-panel {
    margin-left: 0;
    transition: all 150ms linear;
  }
  /* END SIDEBAR MOBILE */


}

/* Fin tablet landscape */
/* Big cell landscape */
@media (max-width: 916px) {

  .form-login {
    min-width: 480px;
  }

  .form-login .logo {
    /* background-color: lavender; */
    width: 100%;
  }

  .admin-panel {
    /* background-color: lavender; */
    padding: 1rem;
  }

}

/* Fin Big cell landscape */
/* Tablet portrait */
@media (max-width: 768px) {
  .grid-container-abogados {
    /* background-color: pink; */
    grid-template-columns: repeat(2, 1fr);
  }

  .wrap-header-panel {
    /* background-color: yellow; */
    flex-direction: column;
    align-items: flex-start;
  }

  .wrap-header-panel .header-panel {
    margin-bottom: 1rem;
  }

  .taskbar-panel__text-button {
    display: none;
  }
  

}

/* fin tablet portrait */
/* Cell landscape */
@media (max-width: 736px) {

  .content-controls-search {
    /* background-color: #4DADBC; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .content-controls-search .wrap-search-input {
    min-width: 100%;
  }

  .content-controls-search .btn-filter {
    width: 100%;
  }

}

/* Fin cell landscape */

/* Cell portrait */
@media (max-width: 480px) {
  .sidebar-mobile {
    background-color: var(--white);
    width: 75%;
  }

  .container-mobile{
    /* background-color: brown; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar-cear-menu {
    width: auto;
  }

  .form-login {
    min-width: 100%;
    padding: 1.5rem;
  }

  .nav-pills .nav-link {
    padding-left: 0;
    padding-right: 0;
    font-size: .75rem;
  }

  .grid-container-abogados {
    /* background-color: pink; */
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar-cear .btn-user .user-name {
    display: none;
  }

  .content-controls {
    /* background-color: pink; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrap-search-input {
    /* background-color: peru; */
    width: 100%;
  }

  .content-controls .btn {
    margin-bottom: 1rem;
    width: 100%;
  }

  .content-controls .search-input .btn {
    /* background-color: lightblue; */
    width: auto;
  }

  .content-btns-controls-panel {
    /* background-color: pink; */
    display: flex;
    flex-direction: column-reverse;
  }

  .content-btns-controls-panel .btn {
    margin-bottom: 1rem;
  }

  .wrap-header-panel {
    /* background-color: peru; */
  }

  .wrap-header-panel .btn {
    width: 100%;
  }

  /* Solicitudes */
  .form-check-inline {
    margin-bottom: .5rem;
  }

  .form-row-btn {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .form-row-btn .col-sm-12, .form-row-btn .btn {
    width: 100%;
  }

  .wrap-designacion-arbitro-options {
    /* background-color: pink; */
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
  }
  /* End Solicitudes */
}

/* Fin cell portrait */
/* Small cell portrait */
@media (max-width: 360px) {

}

/* Fin small cell portrait */
